# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the relevant files when downloading from the Asset Library.
/**                 export-ignore
/QuickTileset.gd    !export-ignore
/QuickTileset.tscn  !export-ignore
/examples           !export-ignore
/examples/**        !export-ignore
